.main-block {
  background-color: #5a5a5a;
  color: #fff;
  border-radius: 15px;
  width: 500px;
  padding: 45px;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .search-icon {
    position: absolute;
    left: 85px;
    height: 24px;
  }

  .search-input {
    border-radius: 8px;
    width: 70%;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 10px 45px 10px;
  }
}

.todo-title {
  margin-top: 0;
}

.main-todo-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;

    .left-side {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .right-side {
      display: flex;
      gap: 25px;

      button {
        all: unset;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color: transparent;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.completed {
  text-decoration: line-through;
}

.add-todo {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;

  .add-input {
    border-radius: 8px;
    margin-bottom: 25px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 15px;
    width: 90%;
  }

  .add-button {
    border-radius: 8px;
    padding: 10px 35px;
    border: none;
    background-color: #6e7bf2;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .save-button,
  .cancel-button {
    border-radius: 8px;
    border: none;
    background-color: #6e7bf2;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    transition: 0.3s ease;
    padding: 10px 15px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;
  position: absolute;
  z-index: 1;
  bottom: 35px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.checkbox {
  --border: #d1d6ee;
  --border-hover: #bbc1e1;
  --border-active: #6e7bf2;
  --tick: #fff;
  position: relative;
  input,
  svg {
    width: 21px;
    height: 21px;
    display: block;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
    &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }
    &:checked {
      --b: var(--border-active);
    }
  }
  svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }
  &.path {
    input {
      &:checked {
        --s: 2px;
        transition-delay: 0.4s;
        & + svg {
          --a: 16.1 86.12;
          --o: 102.22;
        }
      }
    }
    svg {
      stroke-dasharray: var(--a, 86.12);
      stroke-dashoffset: var(--o, 86.12);
      transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
    }
  }
  &.bounce {
    --stroke: var(--tick);
    input {
      &:checked {
        --s: 11px;
        & + svg {
          animation: bounce 0.2s linear forwards 0.2s;
        }
      }
    }
    svg {
      --scale: 0;
    }
  }
}

@keyframes bounce {
  100% {
    transform: scale(1);
  }
}
